body{
  background-color: #071330;
}
h1 {
font-family: 'Montserrat, sans-serif';
font-size: 3rem;
line-height: 1.5;
font-weight: 900;
padding: 5rem 0rem 0rem 0rem;
}

.container-fluid{
  padding: 0.2rem 15%;

}
.navbar{
  background-color:#0C4160


}

.nav-item  {
   position: relative;
   left: 21rem;

}
.navbar-brand{
  position: relative;
  left: 0.8rem;
  font-size: 1.5rem;

}



.static{
  color: white;
  font-size: 3rem
}

section{
background: url("background.jpg") no-repeat center ;
  height: 45rem;


}
.name{
  color: white;
  font-weight: bolder;
  text-align: center;
  font-size: 5rem


}

.vr{
  color: #1DE9B6;
  width: 1rem;
  height: 50rem;
}

span{
  color: #1DE9B6;
  font-family: 'Merriweather', serif;
}

h2{
  color: #1DE9B6;
  margin: 3rem 0rem;

}
.experience_text{
  color: #1DE9B6;
}




.card-text{
line-height: 250%;
margin-top: 5rem;
}


.about-text{

  color: white;
  align-text: left;
}
.col{
  height: 25rem;
  width: 30rem;
  background-color: #071330;
  margin-top: 5rem;

}

.card-img{
  opacity: .2;
  height: 30rem;

}
.image-test{
  margin-top: 5rem;
  line-height: 200%
}
hr{
  color: #1DE9B6;
  border-top: dotted 2.5px;
}
.portfolio{
text-align: center;
  margin-bottom: 1rem;
}

.center{
  margin: 1rem 10rem;
}



h3{
  color: white;
}

small{
  margin-left: 5rem;
}

h4 {
  color: white;

}

.resume{
  text-decoration: none;
}

.fas{
  width: 1.3rem;
  position: relative;
  right: 0.65rem;
  top:1.6rem;
  background-color: :#1DE9B6;

}
.fa-dot-circle{
  color: #1DE9B6;
}


.end_line{

  margin-top: 7rem;
  height: 3rem;
  background-color:  #1DE9B6;
}

.form-label{
  color:#1DE9B6;
}
.form-control {


    color: #071330;
}

.fabb{

  font-size: 1.5rem;
  margin: 0rem 3rem;
}

.footer{
  margin-bottom: 20rem;

}

.small{
   color: #071330;
}
.discussion_image{
  margin-left: 0.1rem;
}


.get_touch{
  margin-top: 30rem;
}

@media (max-width: 1653px) {

  .navbar-brand{
    position: relative;
    left: -4em;
    font-size: 1.5rem;}

    .nav-item  {
       position: relative;
       left: 15.5rem;


}

@media (max-width: 653px){
  .navbar-brand{
    position: relative;
    left: -1.5rem;
    font-size: 1.5rem;}
  .name, .static{
    font-size: 3rem;
  }
  .nav-item  {
     position: relative;
     left: -2rem; }
  .get_touch{
       margin-top: 30rem;}

  .discussion_image{
    height:100px;
    width:100px;

  }








}

em{
  color: #A62349;

}

.work_dates{

    color: #A62349;
}
.work_titles{
  margin-left:0.5em;
}
